@charset "utf-8";
/* CSS Document */

* {
	margin: 0; padding: 0;
}
img {
	border: 0px;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
	color: black;
}
a:hover {
	text-decoration: underline;
	color: gray;
}

/* 上栏 */
div.big {
	border-top: 5px black solid;
	width: 980px;
	height: 64px;
	margin: 0 auto;
}

div.top-dh {
	float: right;
	background: url(../img/top-d-bg.jpg);
	padding-bottom: 5px;
}
div.top-dh > ul {
	margin-left: 10px;

}
div.top-dh > ul > li {
	float: left;
}
div.top-dh > ul > li > a > p {
	background: url(../img/top-d.jpg) no-repeat left center;
	color: #fff;
	font-size: 12px;
	padding-left: 10px;
	padding-right: 10px;
}
div.top-dh > ul > li > a:hover > p {
	background: url(../img/top-d-hover.jpg) no-repeat left center;
}

div.logo_dh > div.up_left {
	float: left;
}
div.logo_dh > div.up_midel {
	float: left;
	width: 500px;
}
div.logo_dh > div.up_midel > ul > li {
	float: left;
}

div.logo_dh > div.up_midel > ul > li > a:hover {
	border-bottom: 2px #857860 solid;
}
/* 中栏 */
div.down {
	width: 980px; /* 204+463+313 */
	height: 435px;
	margin: 0 auto;
	border-bottom: 6px #857860 solid;
}

div.down > div.d_left {
	float: left;
	width: 204px;
	height: 435px;
	background: url(../img/cofe-1_02.jpg) no-repeat;
}
div.down > div.d_left > div.login {
	width: 85px;
	height: 54px; /* line-height x 2 */
	margin-left: 45px; margin-top: 70px; /* 按钮位置(左手系) */
}
div.down > div.d_left > div.login > a {
	text-align: center;
	text-decoration: none;
	color: black;
	line-height: 27px;
	display: block;
	background: url(../img/login.png) no-repeat;
	margin-top: 3px; /* 按钮间距 */
}
div.down > div.d_left > div.login > a:hover {
	background: url(../img/login1.png) no-repeat;
}

div.down > div.d_midel {
	float: left;
	width: 463px;
	height: 435px;
	background: url(../img/cofe-1_03.jpg) no-repeat;
	
}

div.down > div.d_right {
	float: left;
	width: 313px;
	height: 435px;
	background: url(../img/cofe-1_04.jpg) no-repeat;
	
}

#news > #newsTop {
	width: 180px;
	display: block;
}
#news > #newsTop > #newsTop_tit {
	margin-top: 20px;
	width: 180px;
	font-size: 0;
}

/******************************JS*****************************/
.topC0 {
	font-size: 15px;
	text-align: center;
	display: inline-block;
	background: url(../img/ye.png) no-repeat;
	height: 24px;
	width: 63px;
	color: white;
}
.topC1 {
	font-size: 15px;
	text-align: center;
	display: inline-block;
	background: url(../img/ye2.png) no-repeat bottom;
	height: 24px;
	width: 62px;
	color: black;
}

.dis {
	display: block;
}
.undis {
	display: none;
}
/******************************JS*****************************/

#news > #newsTop > #newsTop_cnt {
	border-top: 2px rgba(240, 238, 221, 0.7) solid;
	background: rgba(240, 238, 221, 0.5);
	padding: 2px;
}

#news > #newsTop > #newsTop_cnt div.cnt_n {
	border-bottom: 1px solid #857860;
}
#news > #newsTop > #newsTop_cnt div.cnt_n > a {
	font-size: 14px;
	padding-left: 6px;
	background: url(../img/news.png) no-repeat left center;
}
#news > #newsTop > #newsTop_cnt div.cnt_n > a:hover {
	background: url(../img/news1.png) no-repeat left center;
}
div.down > div.d_right > div.tu {
	margin-top: 80px;
}
div.down > div.d_right > div.tu > h1 {
	font-size: 15px;
}
/* 底栏 */
div.foot_right {
	width: 980px;
	margin: 0 auto;
	text-align: right;
	background: url(../img/foot-logo.jpg) no-repeat;
	font-size: 14px;
}